<%= simple_form_for backlog, html: { class: "backlog form" } do |f| %>
  <% if backlog.errors.any? %>
    <div class="error-message">
      <%= backlog.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true } %>
  <%= f.input :backlog_type %>
  <%= f.input :due_at, as: :date %>
  <%= link_to "Cancel", backlogs_path, class: "btn btn--light" %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>